<h1 id="old-standard">Old Standard</h1>
<h2 id="license">License</h2>
<p>Copyright (c) 2006-2011 Alexey Kryukov (<a href="mailto:amkryukov@gmail.com" class="email">amkryukov@gmail.com</a>), without Reserved Font Names.</p>
<p>Copyright (c) 2019-2020, Robert Alessi (<a href="mailto:alessi@robertalessi.net" class="email">alessi@robertalessi.net</a>), without Reserved Font Names.</p>
<p>Please send error reports and suggestions for improvements to Robert Alessi:</p>
<ul>
<li>email: <a href="mailto:alessi@roberalessi.net" class="email">alessi@roberalessi.net</a></li>
<li>website: <a href="http://git.robertalessi.net/oldstandard/about" class="uri">http://git.robertalessi.net/oldstandard/about</a></li>
<li>development: <a href="http://git.robertalessi.net/oldstandard" class="uri">http://git.robertalessi.net/oldstandard</a></li>
<li>comments, feature requests, bug reports: <a href="https://gitlab.com/ralessi/oldstandard/issues" class="uri">https://gitlab.com/ralessi/oldstandard/issues</a></li>
</ul>
<p>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: <a href="http://scripts.sil.org/OFL" class="uri">http://scripts.sil.org/OFL</a></p>
<h2 id="history">History</h2>
<p>This font is just the same as Alexey Kryukov’s beautiful <em>Old Standard</em>.<a href="#fn1" class="footnote-ref" id="fnref1" role="doc-noteref"><sup>1</sup></a> In comparison to the previous releases of <em>Old Standard</em>, it includes new letters and some corrections:</p>
<ol type="1">
<li>Small capitals for Roman, Greek and Cyrillic letters, in all three styles, Regular, Italic and Bold have been added. Small capitals, which were missing from <em>Old Standard</em>, were already in use a century ago in fine books which used font faces very similar to <em>Old Standard</em>. Typical use cases of small capitals were headers, current headings and in some books proper names.</li>
<li><em>For the time being</em>, a bold italic shape has been auto-generated. Of course, auto-generating shapes is not a satisfactory solution. However, it is better than using the font loader to emulate bold shapes. A real bold italic shape is planned in the versions of <em>Old Standard</em> to come.</li>
<li>The letter G with caron above, that is: Ǧ (<code>U+01E6</code>, uppercase) and ǧ (<code>U+01E7</code>, lowercase) has been added. It is the only character missing from <em>Old Standard</em> that is needed in some of the accepted standards of romanization of classical Arabic.<a href="#fn2" class="footnote-ref" id="fnref2" role="doc-noteref"><sup>2</sup></a></li>
<li>Additionally, this release corrects the <code>+ss06</code> feature provided by <em>Old Standard</em>. This feature is supposed to distinguish between regular and ‘curled’ beta (β/ϐ) and to print ‘curled’ beta (<code>U+03D0</code>) in medial position. This feature worked in most cases with the previous release of <em>Old Standard</em>. However, it failed if the beta is preceded by a vowel with an acute accent taken from the <em>Greek extended</em> Unicode block.</li>
</ol>
<h3 id="why-a-new-release-of-old-standard">Why a new release of <em>Old Standard</em>?</h3>
<p>At the time of writing, <em>Old Standard</em> was last updated six years ago. Being unable himself to contact the author, the writer, while in need to have new letters included in <em>Old Standard</em> and some issues addressed, took the decision to make a new release of <em>Old Standard</em>, while maintaining the hope that the author will one day resume the development of this typeface.</p>
<h3 id="reference-web-page-archived-on-sept.-26-2019">Reference web page (archived on Sept. 26, 2019)</h3>
<p><a href="https://web.archive.org/web/20190926123235/http://thessalonica.org.ru/en/oldstandard.html">http://thessalonica.org.ru/en/oldstandard.html</a></p>
<h2 id="documentation">Documentation</h2>
<p>Please refer to Alexey Kryukov’s documentation which is can be found here: <a href="http://mirrors.ctan.org/fonts/oldstandard/doc/oldstand-manual.pdf" class="uri">http://mirrors.ctan.org/fonts/oldstandard/doc/oldstand-manual.pdf</a> (CTAN) or here: <a href="https://web.archive.org/web/20190924110631/http://thessalonica.org.ru/en/fonts-download.html">http://thessalonica.org.ru/en/fonts-download.html</a> (Alexey Kryukov’s web page).</p>
<section class="footnotes" role="doc-endnotes">
<hr />
<ol>
<li id="fn1" role="doc-endnote"><p>See <a href="https://github.com/akryukov/oldstand" class="uri">https://github.com/akryukov/oldstand</a><a href="#fnref1" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn2" role="doc-endnote"><p>See for references the <a href="http://mirrors.ctan.org/macros/luatex/latex/arabluatex/arabluatex.pdf">current documentation of the arabluatex package</a>, sect. “Transliteration”.<a href="#fnref2" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
</ol>
</section>
